* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Poppins",
    sans-serif;
}

body {
  background-color: #bfbfbf;
}

/* MAIN GRID WRAPPER */
.fullPage {
  color: black;
  min-height: 100vh; /* full screen height */
  display: grid;
  grid-template-rows: 10fr 50fr; /* 2 rows */
  grid-template-columns: 1fr 7fr 1fr; /* 3 columns */
  background-color: #dddcdc;
}

/* TOP CENTERED BAR (ROW 1, COL 2) */
.fullPage .Course {
  grid-area: 1 / 2 / 2 / 3; /* row-start / col-start / row-end / col-end */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5ba13;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.fullPage .Course p {
  font-size: 20px;
  font-weight: 600;
}

/* MAIN CONTENT (ROW 2, COL 2) */
.fullPage .content {
  grid-area: 2 / 2 / 3 / 3;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
}

.fullPage .content h2 {
  font-size: 28px;
}

.fullPage .content p {
  font-size: 16px;
  line-height: 1.5;
}
